---
import { contentfulClient, UnderContentBilderErfassen } from "../../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPostBilderErfassen } from "../../../lib/contentful";

let post;
let underPost;
const { slug } = Astro.params;
try {
  const data = await contentfulClient.getEntries<BlogPostBilderErfassen>({
    content_type: "blogPost",
    "fields.slug": slug,
  });
  const underData = await contentfulClient.getEntries<UnderContentBilderErfassen>({
    content_type: "underContentBilderErfassen",
  })
post = data.items.map((item) => {
  const { title, date, content } = item.fields;
  return {
    title, 
    date: new Date(date).toLocaleDateString(),
    content: documentToHtmlString(content)
  }
})

underPost = underData.items.map((item) => {
  const { bilderTitle, bilderContent} = item.fields;
  return {
    bilderTitle,
    bilderContent: documentToHtmlString(bilderContent)
  }
})

} catch (error) {
  return Astro.redirect("/404");
}

---
<html lang="en">
  <head>
    <title>{post[0].title}</title>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
  </head>
  <body class="px-4 flex flex-col items-start md:items-center justify-center pt-10 w-screen">
    <div class="w-full md:w-7/12">
      <h1 class="text-xl uppercase font-bold">{post[0].title}</h1>
      <time>{post[0].date}</time>

      <article class="mt-10" set:html={post[0].content} />
        
      {underPost.map((post) => (
      <div class="mt-10">
        <h1 class="text-xl uppercase font-bold">{post.bilderTitle}</h1>
        <article class="mt-5" set:html={post.bilderContent} />
        </div>
      ))}

    </div>
  </body>
</html>

